# ignore an entire target directory
/target/

# ignore an entire .idea directory
/.idea/

# ignore a .iml file
/com.aurigo.testautomation.iml

# ignore an entire test ouput directory
/test-output/
